* {
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 10vh;
  background-color: #F4F4F4;
  display: flex;
  padding: 10px;
}

.bookist-header {
  margin: auto;
}

.book-search {
  width: 100vw;
  height: 5vh;
  background-color: #F4F4F4;
  display: flex;
  justify-content: space-between;
}

#input {
  position: relative;
  margin: auto;
}

#search-button {
  position: relative;
  margin: auto;
}

#clear-button {
  position: relative;
  margin: auto;
}

.book-container {
  width: 100vw;
  height: 90vh;
  background-color: #F4F4F4;
  display: flex;
}

.book-list {
  border: 1px solid black;
  width: 60%;
  height: 100%;
  overflow: auto;
  padding: 10px;
}

.book-shelf {
  border: 1px solid blue;
  width: 40%;
  height: 100%;
  overflow: auto;
  padding: 10px;
}

.book {
  position: relative;
  width: 50%;
  height: 50%;
}

